In [ ]:
4.0

In [ ]:
type(4.0)

In [ ]:
mystring = "anna"

In [ ]:
mystring = "anna"
mystring.capitalize()

In [ ]:
mylist = ["carla", "anna", "marc", "pau"]

In [ ]:
mylist

In [ ]:
mylist[1] = "anni"

In [ ]:
mylist

In [ ]:
mylist = ['carla', 'anni', 'marc', 'pau', 'pau', '20']

In [ ]:
mylist

In [ ]:
mylist.append("hey")

In [ ]:
mylist

In [12]:
students = ["Aine_Gates",
            "Àlex_Gómez",
            "André_SantaClara",
            "Anne_Fonte",
            "Arnau_Angerri",
            "Carla_Feriche",
            "Daria_Gavrilova",
            "Dirk_Gruhne",
            "Erik_Termes",
            "Filipe_Santos",
            "Hugo_Mellado",
            "Jorge_Gonzalez",
            "Marc_Sarrau",
            "Maria_González",
            "Miguel_Chacon",
            "Miguel_Simón",
            "Nick_Deitmers",
            "Oscar_Tomás",
            "Pau_Sancho",
            "Pol_Serramalera",
            "Raúl_Castrillo",
            "Réka_Varga",
            "Sara_Peña",
            "Sergio_Monge",
            "Toni_Espadas",
            "Víctor_López",
            "Yidi_Chi"]

In [13]:
students_names = []
students_surnames = []
students[0].split("_")

['Aine', 'Gates']

In [ ]:
students[].split("_")[1]

In [ ]:
students[0].split("_")[1]

In [14]:
for name in students:
    students_names.append(name.split("_")[0])
    students_surnames.append(name.split("_")[1])

In [15]:
print(students_names)

['Aine', 'Àlex', 'André', 'Anne', 'Arnau', 'Carla', 'Daria', 'Dirk', 'Erik', 'Filipe', 'Hugo', 'Jorge', 'Marc', 'Maria', 'Miguel', 'Miguel', 'Nick', 'Oscar', 'Pau', 'Pol', 'Raúl', 'Réka', 'Sara', 'Sergio', 'Toni', 'Víctor', 'Yidi']

In [16]:
print(students_surnames)

['Gates', 'Gómez', 'SantaClara', 'Fonte', 'Angerri', 'Feriche', 'Gavrilova', 'Gruhne', 'Termes', 'Santos', 'Mellado', 'Gonzalez', 'Sarrau', 'González', 'Chacon', 'Simón', 'Deitmers', 'Tomás', 'Sancho', 'Serramalera', 'Castrillo', 'Varga', 'Peña', 'Monge', 'Espadas', 'López', 'Chi']

In [28]:
# Convert code into function that takes name as input and outputs the surname
# Ask the user to write the input (the name) interactively

In [27]:
first_name = input("What's your first name?:")

position = students_names.index(first_name)

if first_name in students_names:
    print(students_surnames[position])

else:
    first_name

What's your first name?:Marc
Sarrau

In [26]:
teachers = ["Javi", "Mar", "Pol"]
for teacher in teachers:
    print(teacher + " is a great teacher!")
    sleep(4)
    print("I really like " + teacher)
    sleep(1)

Javi is a great teacher!
I really like Javi
Mar is a great teacher!
I really like Mar
Pol is a great teacher!
I really like Pol

In [30]:
import random

In [55]:
random.randint(1, 3)

2

In [87]:
random_numbers = []

In [88]:
a = random.randint(1, 3)

In [89]:
a

1

In [100]:
for n in random_numbers:
    print(n+3)

In [109]:
random_numbers = []

for i in range(10):
    a = random.randint(1, 6)
    random_numbers.append(a)
print(random_numbers)

[5, 1, 6, 1, 2, 6, 3, 4, 3, 6]

In [110]:
set(random_numbers)

{1, 2, 3, 4, 5, 6}

In [111]:
random_numbers = []

for i in range(100):
    a = random.randint(1, 100)
    random_numbers.append(a)
print(random_numbers)

[58, 7, 5, 17, 9, 29, 81, 49, 62, 56, 52, 5, 13, 61, 19, 96, 6, 13, 26, 41, 60, 51, 45, 3, 13, 77, 38, 89, 65, 5, 81, 97, 70, 18, 39, 77, 78, 18, 70, 65, 56, 82, 68, 27, 39, 51, 78, 16, 24, 90, 10, 92, 85, 34, 36, 94, 96, 17, 69, 1, 36, 6, 23, 82, 72, 36, 100, 31, 4, 85, 61, 5, 92, 63, 37, 44, 28, 68, 75, 85, 62, 61, 66, 5, 14, 37, 53, 69, 28, 98, 78, 80, 28, 49, 100, 22, 5, 25, 36, 54]

In [113]:
len(set(random_numbers))

63

In [115]:
import statistics

In [116]:
statistics.mean(random_numbers)

48.32

In [169]:
import random

unique_numbers = []

for i in range(1,1001):
    list_1000 = []
    for i in range(1,100):
    list_1000.append(random.randint(1, 100)
    
    unique_numbers.append(len(set(list_1000)))
    
print(statistics.mean(random_numbers))

IndentationError: expected an indented block (<ipython-input-169-8b0e7683fc87>, line 8)

In [173]:
my_dictionary = {"key_1":"value_1",
                "key_2":"value_2"
                }

In [174]:
my_dictionary.keys()

dict_keys(['key_1', 'key_2'])

In [175]:
my_dictionary.values()

dict_values(['value_1', 'value_2'])

In [181]:
person = {"Name":"Bob",
         "Age":"46",
         "Jobs":["builder","Data scientist"]
         }

In [182]:
person.values()

dict_values(['Bob', '46', ['builder', 'Data scientist']])

In [183]:
person.keys()

dict_keys(['Name', 'Age', 'Jobs'])

In [184]:
person["Jobs"]

['builder', 'Data scientist']

In [189]:
people = {"Bob": {"Age":46, "Jobs":["builder","Data scientist"]},
          "Mar": {"Age":22, "Jobs": ["TA", "Genius"]}
         }

In [190]:
people["Bob"]["Jobs"]

['builder', 'Data scientist']

In [192]:
for pers in people.keys():
    print(people[pers]["Age"])

46
22

In [206]:
teachers_dict = {
    "Guillem":{
        "age":30,
        "role":"LT",
        "city_born":"Barcelona"
    },
    "Mar":{
        "age":22,
        "role":"TA",
        "city_born":"Murcia"
    },
    "Javi":{
        "age":21,
        "role":"TA",
        "city_born":"Donosti"
    },
    "Pol":{
        "age":31,
        "role":"TA",
        "city_born":"Barcelona"
    }
}

age = []
for teacher in teachers_dict:
    if teachers_dict[teacher]["city_born"] == ("Barcelona"):
        age.append(teachers_dict[teacher]["age"])
    
print(age)

[30, 31]